<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fr_template.html(title='Secretaire')}">
<head>
<meta charset="utf-8">
</head>
<body>

	<section layout:fragment="content">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a
					th:href="@{/secretaire/listeSecretaire}">Secretaires</a></li>
				<li class="breadcrumb-item active" aria-current="page">Modification</li>
			</ol>
		</nav>
		<div class="col-md-8 offset-2">
			<div class="alert alert-success" role="alert">Modifier les
				informations du Secretaire</div>
		</div>
		<div class="col-md-8 offset-2">
			<div class="card">
				<div class="card-header bg-light text-dark font-weight-bold">Modifier
					une secretaire</div>
				<div class="card-body bg-light">
					<form th:action="@{/secretaire/saveSecretaire}" method="post">
						<div class="form-group">
							<input class="form-control" placeholder="Id" type="hidden"
								name="id" th:value="${secretaire.id}" />
						</div>
						<div class="form-group">
							<label class="font-weight-bold">Carte d'Identite :</label> <input
								class="form-control" placeholder="Carte d'Identite" type="text"
								name="cin" th:value="${secretaire.cin}" />
						</div>
						<div class="form-group">
							<label class="font-weight-bold">Adresse Email :</label> <input
								class="form-control" placeholder="Adresse email" type="text"
								name="email" th:value="${secretaire.email}" />
						</div>
						<div class="form-group">
							<label class="font-weight-bold">Nom du Secretaire :</label> <input
								class="form-control" placeholder="Nom" type="text" name="nom"
								th:value="${secretaire.nom}" />
						</div>
						<div class="form-group">
							<label class="font-weight-bold">Prenom du Secretaire :</label> <input
								class="form-control" placeholder="Prenom" type="text"
								name="prenom" th:value="${secretaire.prenom}" />
						</div>
						<div class="form-group">
							<label class="font-weight-bold">Telephone du Secretaire</label> <input
								class="form-control" placeholder="Telephone" type="text"
								name="telephone" th:value="${secretaire.telephone}" />
						</div>
						<div class="form-group">
							<button type="submit"
								class="btn btn-success text-white offset-10">Enregistrer</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		</p>
	</section>

</body>
</html>