<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fr_template.html(title='Secretaire')}">
<body>

<section layout:fragment="content">
    <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/secretaire/listeSecretaire}">Secretaires</a></li>
            <li class="breadcrumb-item active" aria-current="page">Recherche</li>
          </ol>
    </nav>
    <div class="">
        <div class="card">
            <div class="card-header bg-light text-dark font-weight-bold">Liste des Secretaires</div>
            <div class="card-body bg-light">
                <form th:action="@{/secretaire/search}" method="get">
                    <div class="row">
                        <div class="col-md-2">
                            <input type="text" name="motCle" th:value=${motCle} placeholder="Nom Secretaire ..." class="form-control bg-light">
                        </div>
                        <button class="btn btn-success text-white">Rechercher</button>
                    </div>
                </form>
                <p/>
                <table class="table table-striped table-bordered" style="width:100%">
                    <thead>
                    <tr>
                        <th>Carte d'identite</th>
                        <th>Adresse email</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Telephone</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="s:${pageSecretaires.content}">
                        <td th:text="${s.cin}"></td>
                        <td th:text="${s.email}"></td>
                        <td th:text="${s.nom}"></td>
                        <td th:text="${s.prenom}"></td>
                        <td th:text="${s.telephone}"></td>
                    </tr>
				    </tbody>
                </table>
                <div class="d-flex justify-content-center">
			     <ul class="nav nav-pills">
				  <li 
				    th:each="page,status:${pages}" class="btn"><a
					th:class="${status.index==currentPage?'btn btn-warning':'btn btn-light'}"
					th:href="@{/secretaire/search(page=${status.index},size=${size},motCle=${motCle})}"
					th:text="${status.index}"> </a></li>
			     </ul>
		        </div>
				</div>
        </div>
    </div>
    </p>
</section>

</body>
</html>