<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fr_template.html(title='Ajouter Patient')}">
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
</head>
<body>

<section layout:fragment="content">
    <div class="col-md-8 offset-2">
        <div class="card">
            <div class="card-header bg-light text-dark font-weight-bold">Ajouter un patient</div>
            <div class="card-body bg-light">
                <form th:action="@{save}" method="post" th:object="${patient}" enctype="multipart/form-data">

                    <div class="row offset-2 text-center w-50 h-50 mb-5">
                        <img src="/img/hf.png" id="profile-img-tag" class="col mx-auto img-fluid"/>
                        <div class="custom-file">
                            <input type="file" name="imageFile" id="imageFile" class="custom-file-input">
                            <label for="imageFile" class="custom-file-label">choisir un fichier</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="font-weight-bold">Prenom</label>
                        <input placeholder="Prenom" type="text" th:field="*{prenom}"
                               class="form-control" th:errorclass="is-invalid">
                        <span th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold">Nom</label>
                        <input placeholder="Nom" type="text" th:field="*{nom}" class="form-control"
                               th:errorclass="is-invalid">
                        <span th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold">Telephone</label>
                        <input placeholder="Telephone" type="text" th:field="*{telephone}"
                               class="form-control" th:errorclass="is-invalid">
                        <span th:errors="*{telephone}" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold">Email</label>
                        <input placeholder="Email" type="text" th:field="*{email}" th:errorclass="is-invalid"
                               class="form-control">
                        <span th:errors="*{email}" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold">Date naissance</label>
                        <input type="date" th:field="*{dateNaissance}" class="form-control" th:errorclass="is-invalid">
                        <span th:errors="*{dateNaissance}" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold">Address</label>
                        <input placeholder="Address" type="text" th:field="*{address}"
                               class="form-control" th:errorclass="is-invalid">
                        <span th:errors="*{address}" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold mr-3">Sexe :</label>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" th:field="*{sexe}" th:value="1">
                            <label class="form-check-label" th:for="${#ids.prev('sexe')}">Homme</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" th:field="*{sexe}" th:value="0">
                            <label class="form-check-label" th:for="${#ids.prev('sexe')}">Femme</label>
                        </div>
                        <span th:errors="*{sexe}" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success text-white offset-10">Enregister</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        const inpFile = document.getElementById("imageFile");
        const image = document.getElementById("profile-img-tag");

        inpFile.addEventListener("change", function () {
            const file = this.files[0];

            if(file){
                const reader = new FileReader();
                reader.addEventListener("load", function () {
                    console.log(this);
                    image.setAttribute("src", this.result);
                });

                reader.readAsDataURL(file);
            }
        });


    </script>
</section>


</body>
</html>