<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fr_template.html(title='Patient')}">
<body>

<section layout:fragment="content">
     <div class="col-md-8 offset-2">
                    <div class="alert alert-success" role="alert">
                        valider les informations du patient !
                    </div>
                </div>

                <div class="col-md-8 offset-2">
                    <div class="card">
                        <div class="card-header bg-light text-dark">Valider un patient</div>
                        <div class="card-body bg-light">
                            <form th:action="@{/patient/update}" method="post">
                                <input type="hidden" name="sexe" th:value="${patient.sexe}">
                                <input type="hidden" name="id" th:value="${patient.id}">
                                <label class="font-weight-bold">Prenom</label>
                                <input type="text" name="prenom" th:value="${patient.prenom}" class="form-control">
                                <label class="font-weight-bold">Nom</label>
                                <input type="text" name="nom" th:value="${patient.nom}" class="form-control">
                                <label class="font-weight-bold">Telephone</label>
                                <input type="text" name="telephone" th:value="${patient.telephone}" class="form-control">
                                <label class="font-weight-bold">Email</label>
                                <input type="text" name="email" th:value="${patient.email}" class="form-control">
                                <label class="font-weight-bold">Date naissance</label>
                                <input type="date" name="dateNaissance" th:value="${patient.dateNaissance}" class="form-control">
                                <label class="font-weight-bold">Address</label>
                                <input type="text" name="address" th:value="${patient.address}" class="form-control">
                                <label class="font-weight-bold">Sexe</label>
                                <br>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="sexe" id="homme" value="1">
                                    <label class="form-check-label" for="homme">Homme</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="sexe" id="femmme" value="0">
                                    <label class="form-check-label" for="femme">Femme</label>
                                </div>
                                <br>
                                <button class="btn btn-success text-white offset-10">Valider</button>
                            </form>
                        </div>
                    </div>
                </div>
</section>

</body>
</html>