<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fr_template.html(title='Confirmation Specialite')}">
<body>

<section layout:fragment="content">
        <div class="col-md-8 offset-2">
			<div class="alert alert-success" role="alert">Valider la specialite</div>
		</div>
		<div class="col-md-8 offset-2">
		    <div class="card">
		        <div class="card-header bg-light text-dark font-weight-bold">Confirmation</div>
		        <div class="card-body bg-light">
					<div class="form-group">
						<label>Id :</label> 
						<label th:text="${specialite.id}"></label>
					</div>
					<div class="form-group">
                        <label>Nom de specialite :</label>
                        <label th:text="${specialite.nom}"></label>    
                    </div>
		        </div>
		    </div>
		</div>
		</p>
</section>

</body>
</html>