<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fr_template.html(title='Specialite')}">
<body>

<section layout:fragment="content">
    <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/specialite/listeSpecialite}">Specialite</a></li>
            <li class="breadcrumb-item active" aria-current="page">Recherche</li>
          </ol>
    </nav>
    <div class="">
        <div class="card">
            <div class="card-header bg-light text-dark font-weight-bold">Liste des Specialites des medecins</div>
            <div class="card-body bg-light">
                <form th:action="@{/specialite/search}" method="get">
                    <div class="row">
                        <div class="col-md-2">
                            <input type="text" name="motCle" th:value=${motCle} placeholder="Nom Specialite..." class="form-control bg-light">
                        </div>
                        <button class="btn btn-outline-secondary"><i class="fa fa-search"> Rechercher</i></button>
                    </div>
                </form>
                <p/>
                <div class="justify-content-center table-responsive">
                <table class="table table-striped text-center" style="width:100%">
                    <thead class="thead-dark">
                    <tr>
                        <th>Specialite</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="s:${pageSpecialites.content}">
                        <td th:text="${s.nom}"></td>
                    </tr>
				    </tbody>
                </table>
                </div>
                <div class="d-flex justify-content-center">
				<ul class="nav nav-pills">
						<li th:each="page,status:${pages}"><a
							th:class="${status.index==currentPage?'btn btn-warning':'btn'}"
							th:href="@{/specialite/search(page=${status.index},size=${size},motCle=${motCle})}"
							th:text="${status.index}"></a></li>
				</ul>
				</div>
				</div>
        </div>
    </div>
    </p>
</section>

</body>
</html>