<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fr_template.html(title='Medecins')}">
<head>
<meta charset="utf-8">
</head>
<body>

	<section layout:fragment="content">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a
					th:href="@{/medecin/listeMedecin}">Medecin</a></li>
				<li class="breadcrumb-item active" aria-current="page">Liste</li>
			</ol>
		</nav>

		<button onclick="valid()" class="btn btn-danger">
			<i class="fa fa-exclamation-triangle"> Pour plus d'informations</i>
		</button>
		<script type="text/javascript">
			function valid() {
				alert("Vous ne pouvez pas supprime ce medecin ! Veuillez supprimer ses consultations en premier lieu");
			}
		</script>
	</section>

</body>
</html>


