<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fr_template.html(title='Consultation')}">
<head>
<meta charset="UTF-8">
</head>
<body>
	<section layout:fragment="content">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/consult">Consultation</a></li>
				<li class="breadcrumb-item active" aria-current="page" th:text="${consult.rendezVous.dossier.patient.nom}+' '+${consult.rendezVous.dossier.patient.prenom}"></li>
			</ol>
		</nav>
		
		<div class="container">
					<div class="card">
						<div class="card-header bg-primary text-white">
						<label th:text="${consult.rendezVous.dossier.patient.nom}+' '+${consult.rendezVous.dossier.patient.prenom}"></label>
						</div>
						<div class="card-body">
							<form th:action="@{save}" method="post">
								<input type="hidden" name="id" th:value="${consult.id}" class="form-control">
								<label>Date de consultation :</label> 
								<input type="date" name="date"  th:value="${#temporals.format(consult.date, 'yyyy-MM-dd')}" class="form-control"> 
								<span th:errors="${consult.date}" class="text-danger"></span>
								<br>
								<label>Heure d'entrée :</label> 
								<input type="time" name="heure_debut" th:value="${#temporals.format(consult.heure_debut,'HH:mm')}" class="form-control"> 
								<span th:errors="${consult.heure_debut}" class="text-danger"></span>
								<br>
								<label>Heure de sortie :</label> 
								<input type="time" name="heure_fin" th:value="${#temporals.format(consult.heure_fin, 'HH:mm')}" class="form-control"> 
								<span th:errors="${consult.heure_fin}" class="text-danger"></span>
								<br>
								<label>Resultat :</label> 
								<input type="text" name="resultat" th:value="${consult.resultat}" class="form-control"> 
								<span th:errors="${consult.resultat}" class="text-danger"></span>
								<br>
								<label>Dossier Médical :</label> 
								<input type="hidden" name="rendezVous" th:value="${consult.rendezVous.id}" class="form-control"> 
								<input type="text" disabled th:value="${consult.rendezVous.dossier.code}" class="form-control"> 
								<br>
								<label>Medecin concerné :</label> 
								<input type="hidden" name="medecin" th:value="${consult.medecin.id}" class="form-control"> 
								<input type="text" disabled th:value="${consult.medecin.nom}+' '+${consult.medecin.prenom}" class="form-control"> 
								<br>
								<div class="form-row text-center">
								<div class="col-12">
								<button class="btn btn-success text-white" >Enregister</button>
								</div>
								</div>
							</form>
						</div>
					</div>
				</div>
		
	</section>

</body>
</html>