<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fr_template.html(title='Consultations')}">
<head>
<meta charset="utf-8">
</head>
<body>
	<div class="container col-md-8 col-md-offset-2 col-xs-12 spacer"
		layout:fragment="content">
		<div class="card">
			<div class="card-header">Attention!</div>
			<div class="card-body">
				<h3 class="red">Vous n'etes pas autorisé à accéder à ce page!</h3>
			</div>
		</div>
	</div>
</body>
</html>

