<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fr_template.html(title='Consultations')}">
<head>
<meta charset="UTF-8">
</head>
<body>

	<section layout:fragment="content">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{/consult}">Consultation</a></li>
				<li class="breadcrumb-item active" aria-current="page">Liste</li>
			</ol>
		</nav>

		<div class="d-flex float-right">
			<div class="container">
				<form th:action="@{/consult/recherche}" method="Post">
					<div class="row">
						<div class="col-12">
							<input class="form-control" type="search" name="search"
								placeholder="nom, prenom ou nᵒ de dossier" th:value="${search}" />
								<div class="row p-4 p-md-2">
								<div class="col-5">
								<input class="form-control" type="Date" name="date1"
									th:value="${date1}" />
							</div>
							<div class="col-5">
								<input class="form-control" type="Date" name="date2"
									th:value="${date2}" />
							</div>
							<div class="col-2">
								<button class="btn btn-outline-secondary">
									<i class="fa fa-search"></i>
								</button>
							</div>
								</div>
						</div>
					</div>
				</form>
			</div>
		</div>


		<div class="col-auto justify-content-center table-responsive">
			<table class="table table-striped text-center" style="width: 100%">
				<thead class="thead-dark">
					<tr>
						<th>Dossier</th>
						<th>Patient</th>
						<th>Date</th>
						<th>Heure d'entrée</th>
						<th>Heure de sortie</th>
						<th>Resultat</th>
						<th>Medecin</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>

					<tr th:each="cslt : ${consults}" data-id="${cslt.id}">
						<td th:text="${cslt.rendezVous.dossier.code}"></td>
						<td
							th:text="${cslt.rendezVous.dossier.patient.nom}+' '+${cslt.rendezVous.dossier.patient.prenom}"></td>
						<td th:text="${cslt.date}"></td>
						<td th:text="${cslt.heure_debut}"></td>
						<td th:text="${cslt.heure_fin}"></td>
						<td th:text="${cslt.resultat}"></td>
						<td th:text="${cslt.medecin.nom}+' '+${cslt.medecin.prenom}"></td>
						<td>
							<div class="pl-sm-1">
								<a class="btn btn-success"
									th:href="@{/consult/modification(id=${cslt.id})}">
									<li class="fa fa-edit"></li>
								</a>
							</div>
						</td>
						<td>
							<div class="pl-sm-1">
								<a
									onclick="javascript:return confirm('Etes-vous sûr de vouloir supprimer cette consultation ?')"
									th:href="@{/consult/suppression(id=${cslt.id}, page=${pageActual}, size=${size})}"
									class="btn btn-danger"><li class="fa fa-trash"></li></a>
							</div>
						</td>

					</tr>
				</tbody>
			</table>
		</div>

		<div class="d-flex justify-content-center">
			<ul class="nav nav-pills">
				<li th:each="page,status:${pages}" class="btn"><a
					th:class="${status.index==pageActual?'btn btn-warning':'btn btn-light'}"
					th:href="@{/consult(page=${status.index},size=${size})}"
					th:text="${status.index+1}"> </a></li>
			</ul>
		</div>

	</section>
</body>
</html>