.background {
	background-image: url('/img/Background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.hide1, .hide2, .hide3 {
	margin-top:5px;
	font-size: 9px;
	visibility: collapse;
}

.myDIV:hover+.hide3 {
	visibility: visible;
	color: red;

}

.myDIV:hover+.hide2 {
	visibility: visible;
	color: green;
}

.myDIV:hover+.hide1 {
	visibility: visible;
	color: blue;
}

.center {
	margin-top: 5%;
}